<script>
    function deleteBoard() {
        $.ajax({
            type: "delete",
            url: `/board/${board.id}/delete`,
            dataType: "json"
        }).done((res) => {
            if (res.code === -1)
                alert(res.msg);
                location.href = '/errorpage';
            if (res.data === true) {
                alert(res.msg);
                location.href = '/';
            } else {
                alert(res.msg);
            }
        }).fail((err) => {

        });
    }
</script>