<script>
    let loginSuccess = false;

    function valid() {
        if (loginSuccess) {
            return true;
        } else {
            return false;
        }

    }
    $('#login-btn').click(() => {
        let logindata = {
            username: $('#username').val(),
            password: $('#password').val()
        }
        console.log(JSON.stringify(logindata));
        $.ajax({
            type: "post",
            url: "/login",
            data: JSON.stringify(logindata),
            headers: {
                "content-type": "application/json; charset=utf-8"
            },
            dataType: "json"
        }).done((res) => {
            if (res.data != true) {
                alert(res.msg);
                loginSuccess = false;
            } else {
                alert(res.msg);
                loginSuccess = true;
                location.href = "/";
            }
        }).fail((err) => {

        });
    });
</script>